<div style="width: 100%; border-top: 1px solid #05B6BD;text-align: center;" class="pager">
	<div style="display: inline-block;color: black;border: 1px solid #05B6BD;border-top: snow;padding: 15px;">
       <a style="color: black;text-transform: uppercase;" href="?next=25" class="more-stories">More Stories</a>
	</div>
</div>