<div data-toggle="collapse" href="#subcategory-menu" class="zp-primary-background list-header">
		More In Parenting
</div>
<!-- Mobile Menu -->
<ul class="subcategory-menu" id="subcategory-menu">
	{{#each menu}}
	<li>
		<a href="{{permalink}}">
			{{label}}
		</a>
	</li>
	{{/each }}
</ul>
