<!-- Mobile Menu -->
<ul class="subcategory-menu" id="subcategory-menu">
	<li class="list-header">More In Lifestyle</li>
	{{#each menu}}
	<li>
		<a href="{{permalink}}">
			{{label}}
		</a>
	</li>
	{{/each }}
</ul>
