<div id="menu"
     class="modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">

  <!-- dialog -->
  <div class="modal-dialog">

    <!-- content -->
    <div class="modal-content">

      <!-- body -->
      <div class="modal-body">
         

        <!-- header -->
        <div class="modal-header">
          <h1 id="myModalLabel"
              class="modal-title">
            
            <a href="/index.html">
              <img class="center-block img-responsive logo-zenparent" src="https://res.cloudinary.com/dooujtlec/image/upload/v1501214742/Zenparent/new_logo_V1_mbfc5v.png" alt="brand logo">
            </a>
            <span class="glyphicon glyphicon-remove"
                  data-dismiss="modal">
            </span>
          </h1>
        </div>
        <!-- header -->

         <div class="container">
            <div class="row">
              <div class="col-lg-offset-2 col-lg-4 visible-lg visible-md visible-sm">
                {{#slice slotOne 0 1}}
                    {{> cards/cardTemplate }}
                {{/slice}}
              </div>
              <div class="col-lg-4">
                <ul class="menu-list blog-links-menu">
                  <li class=""><a href="/parenting.html">Parenting</a></li>
                  <li class=""><a href="#">Lifestyle</a></li>
                  <li class=""><a href="#">Entertainment</a></li>
                  <li><a href="#">My Space</a></li>
                  <div class="line"></div>
                </ul>
         
                 <!-- Featured -->
                 <ul class="menu-list featured-list-menu">
                    <li>Featured</li>
                    <li><a href="#">Item One</a></li>
                    <li><a href="#">Item two</a></li>
                    <li><a href="#">Item Three</a></li>
                    <li><a href="#">Item Four</a></li>
                 </ul>

              </div>

            </div>

         </div> 
         <!-- End of content  -->
          

        <!-- footer -->
        <div class="modal-footer">
  
        <!-- social links -->
          <div class="social-links">
            <p class="social-links-label">FOLLOW US</p>
            <ul>
              <li class="social-facebook">
                <a title="Facebook" href="https://www.facebook.com/zenparent" rel="nofollow" target="_blank">
                  <img src="http://test.zenparent.in/wp-content/themes/multimag-theme/gb-assets/icons/facebook.png" />
                </a>
              </li>
              <li class="social-gplus">
                <a title="Google+" href="https://plus.google.com/107914953197589063402/" rel="nofollow" target="_blank">  
                  <img src="http://test.zenparent.in/wp-content/themes/multimag-theme/gb-assets/icons/google-plus-logo.png" />
                </a>
              </li>
              <li class="social-pin">
                <a title="Pinterest" href="https://in.pinterest.com/TheZenParent/" rel="nofollow" target="_blank">
                  <img src="http://test.zenparent.in/wp-content/themes/multimag-theme/gb-assets/icons/pinterest.png" />
                </a>
              </li>
              <li class="social-twitter">
                <a title="Twitter" href="https://twitter.com/@TheZenParent" rel="nofollow" target="_blank">
                  <img src="http://test.zenparent.in/wp-content/themes/multimag-theme/gb-assets/icons/twitter.png" />
                </a>
              </li>
          </ul>
          </div>
          <!-- End of social links -->

          <ul class="menu-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
       <!-- footer -->

    </div>
      <!-- body -->


    </div>
    <!-- content -->

  </div>
  <!-- dialog -->

</div>
<!-- modal
