<!-- modal -->
<div id="menu"
     class="modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">

  <!-- dialog -->
  <div class="modal-dialog">

    <!-- content -->
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <h1 id="myModalLabel"
            class="modal-title">
          <img src="https://res.cloudinary.com/dooujtlec/image/upload/v1500457502/PastedGraphic-9_rjwkqh.png" class="logo-zenparent center-block" alt="brand logo">
        
          <span class="glyphicon glyphicon-remove"
                data-dismiss="modal">
          </span>
        </h1>
      </div>
      <!-- header -->
      
      <!-- body -->
      <div class="modal-body">
         <ul class="menu-list blog-links-menu">
          <li class=""><a href="#">Parenting</a></li>
          <li class=""><a href="#">Lifestyle</a></li>
          <li class=""><a href="#">Entertainment</a></li>
          <li><a href="#">My Space</a></li>
          <div class="line"></div>
         </ul>
         
         <!-- Featured -->
         <ul class="menu-list featured-list-menu">
            <li>Featured</li>
            <li><a href="#">Item One</a></li>
            <li><a href="#">Item two</a></li>
            <li><a href="#">Item Three</a></li>
            <li><a href="#">Item Four</a></li>
         </ul>
      </div>
      <!-- body -->

      <!-- footer -->
      <div class="modal-footer">
        <ul class="menu-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Contact</a></li>
        </ul>

      </div>
      <!-- footer -->

    </div>
    <!-- content -->

  </div>
  <!-- dialog -->

</div>
<!-- modal -->