<!-- PRIMARY MENU BAR -->
<div class="primary-header navbar navbar-default">
    
        <!-- PRIMARY MENU CONTAINER -->
        <div class="container">
          <!-- TOP MENU  -->
          <div class="top-menu nav navbar-nav">
                <div class="col-xs-2 col-md-1 col-sm-1 col-lg-1 menu-item menu">
                  <a data-toggle="modal" data-target="#menu"  href="#">                  
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                  </a>
                </div>
                <div class="col-xs-8 col-lg-5 col-sm-5 col-md-5 menu-item brand-logo">
                  <a href="/index.html">
                    <img class="img-responsive" src="https://res.cloudinary.com/dooujtlec/image/upload/v1501217988/Zenparent/logo_50_height_d7ax7q.png" alt="brand logo">
                  </a>
                </div>
            
                <div class="search menu-item col-lg-6 col-sm-6 col-md-6 col-xs-2">
                  <a href="#">
                      <span class="glyphicon glyphicon-search"></span>
                  </a>
                  <!-- {{> header/shareBar }} -->
                </div>

            </div>
          <!-- END OF PRIMARY MENU  -->
        </div>
      <!-- END OF PRIMARY MENU CONTAINER  -->

</div>
<!-- END OF PRIMARY PRIMARY MENU BAR  -->
