<form action="" class="header-search hide">
	<fieldset>
		<input type="text" name="s" placeholder="Search...">
		<button class="search-btn">
			<span class="glyphicon glyphicon-search"></i>
		</button>
	</fieldset>
</form>