<form action="" class="header-search hide">
	<fieldset>
		<input type="text" name="s" placeholder="Search..." />
		<button class="zp-primary search-btn">
			<span class="glyphicon glyphicon-search">
		</button>
	</fieldset>
</form>