  <!-- SECONDARY MENU BAR  -->
  <div class="secondary-header navbar-default">
      <!-- SECONDARY MENU BAR CONTAINER  -->
        <div class="container">
          <!-- PRIMARY MENU LIST  -->
            <ul class="bottom-menu nav navbar-nav">
              <li class="menu-item active"><a href="/parenting.html">Parenting</a></li>
                <li class="menu-item"><a href="#">Lifestyle</a></li>
                <li class="menu-item"><a href="#">Celebrity</a></li>
                <li class="menu-item"><a href="/my-space.html">My Space</a></li>
            </ul>
             <!-- END OF SECONDARY MENU LIST  -->
        </div>
         <!-- END OF SECONDARY MENU BAR CONTAINER  -->
  </div>
  <!-- END OF SECONDARY MENU BAR  -->
  