  <ul class="share-options">
    <li>
        <a href="#" target="_blank" class="facebook">
          <img class="img-responsive center-block" src="https://res.cloudinary.com/dooujtlec/image/upload/v1500901870/Zenparent/facebook-white-60_wf64y8.png"/>
        </a>
    </li>
    <li>
        <a href="#" target="_blank" class="twitter">
          <img class="img-responsive center-block" src="https://res.cloudinary.com/dooujtlec/image/upload/v1500901905/Zenparent/twitter-white-60_ge6lhg.png"/>
        </a>
    </li>
    <li>
        <a href="#" target="_blank" class="pinterest">
          <img class="img-responsive center-block" src="https://res.cloudinary.com/dooujtlec/image/upload/v1500957053/Zenparent/pinterest-white-60_t4giuo.png"/>
        </a>
    </li>
</ul>