<ul class="share-bar">
	<!-- Facebook  -->
	<li>
		 <a class="facebook" href="#">
			<div class="share-bar-content">
				<div class="share-icon"><img src="https://res.cloudinary.com/dooujtlec/image/upload/v1500901870/Zenparent/facebook-white-60_wf64y8.png"></div>
				<div class="share-text">SHARE</div>	
			</div> 	
		 </a>
	</li>
	<!-- Twitter -->
	<li>
		 <a class="twitter" href="#">
			<div class="share-bar-content">
				<div class="share-icon"><img src="https://res.cloudinary.com/dooujtlec/image/upload/v1500901905/Zenparent/twitter-white-60_ge6lhg.png"></div>
				<div class="share-text">TWEET</div>	
			</div> 	
		 </a>
	</li>
	<!-- PINTEREST -->
	<li>
		 <a class="pinterest" href="#">
			<div class="share-bar-content">
				<div class="share-icon"><img src="https://res.cloudinary.com/dooujtlec/image/upload/v1500957053/Zenparent/pinterest-white-60_t4giuo.png"></div>
				<div class="share-text">PIN</div>	
			</div> 	
		 </a>
	</li>
	
</ul>