<section class="content">
      <!-- Row One -->
      <div class="row featured-articles-home">
           {{#each slotOne}}
              <div class="col-lg-4 col-md-4 col-sm-4">
                  {{>  cards/cardTemplate }}
              </div>
            {{/each}}
      </div>

     <!-- Row 2,3,4  -->
      <div>
         <div class="col-lg-8 col-md-8 col-sm-8">
            {{#each slotTwo}}
                {{>  cards/cardTemplate }}
            {{/each}}
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 col-md-offset-0 col-lg-offset-0 col-sm-offset-0 col-xs-offset-2">
              <div class="trending-homepage">
                <h3> Trending </h3>
                  <span class="trending-icon glyphicon glyphicon-flash"></span>
                 {{#each slotTwo}}
                      {{>  cards/cardTemplate }}
                {{/each}}
              </div>
              
              <!-- Widget for Slot One -->
              {{#slotWidgetMapper 'slot_1'}}
                {{> widgets/widgetGeneric}}
              {{/slotWidgetMapper }}
              <!-- Widget For Slot Two -->
        
          </div>
      </div>

    
     <!-- Row 5,6,n  -->
     <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12">
            {{#each slotThree}}
                <div class="col-lg-4 col-md-4 col-sm-6">
                  {{>  cards/cardTemplate }}
                </div>
            {{/each}}
       </div>
     </div>

</section>

