<section class="content">
      <!-- Row One -->
      <div class="row margin-bottom-20 top-articles-home">
           {{#each slotOne}}
              <div class="col-lg-4 col-md-4 col-sm-4">
                  {{>  cards/cardTemplate }}
              </div>
            {{/each}}
      </div>

     <!-- Row 2,3,4  -->
      <div class="margin-bottom-20 featured-articles-home">
         <div class="col-lg-8 col-md-8 col-sm-8">
            {{#each slotTwo}}
               <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-md-10 col-sm-10">
                {{>  cards/cardTemplate featured='featured' }}
                </div>
            {{/each}}
          </div>
          
          <div class="sidebar col-lg-4 col-md-4 col-sm-4 col-xs-10 col-md-offset-0 col-lg-offset-0 col-sm-offset-0 col-xs-offset-1">
              <div class="trending-homepage">
                <h3> Trending </h3>
                 {{#each slotTwo}}
                    {{>  cards/cardTemplate }}
                {{/each}}
              </div>
              
              <!-- Widget for Slot One -->
              {{#slotWidgetMapper 'slot_1'}}
                {{> widgets/widgetGeneric}}
              {{/slotWidgetMapper }}
              <!-- Widget For Slot Two -->
        
          </div>
      </div>

    
     <!-- Row 5,6,n  -->
     <div class="margin-bottom-20 row">
       <div class="col-lg-12 col-md-12 col-sm-12">
            {{#each slotThree}}
                <div class="col-lg-4 col-md-4 col-sm-6">
                  {{>  cards/cardTemplate }}
                </div>
            {{/each}}
       </div>
     </div>

     <!-- One Featured -->
     <div class="row margin-bottom-20">
        <div class="col-lg-offset-2 col-md-offset-2 col-xs-offset-0 col-xs-12 col-sm-offset-2 col-lg-8 col-md-8 col-sm-8">
          {{#slice slotTwo 0 1}}
           <div class="col-xs-12">
            {{>  cards/cardTemplate featured='featured' }}
            </div>
          {{/slice }}
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{#each slotThree}}
                <div class="col-lg-4 col-md-4 col-sm-6">
                  {{>  cards/cardTemplate }}
                </div>
            {{/each}}
       </div>
    </div>
</section>