<section class="content myspace">
	<div class="container-fluid">
		<!-- Main Content -->
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			
			<div class="col-xs-12 lifestage-selector">	

				<div class="row">
						<div class="lifestage-wrapper col-lg-offset-1 col-lg-3 col-md-4 col-sm-4 col-xs-12  col-xs-4">
							<div class="lifestage-image">
								<img class="img-responsive" src="https://s3-ap-southeast-1.amazonaws.com/babychakra-data-files/modals/lifestage/already-a-parent.png">
							</div>
							<div>
								<h4 class="text-center lifestage-label">Already a Parent</h4>
							</div>
						</div>

						<div class="lifestage-wrapper col-lg-3 col-lg-offset-1 col-md-4 col-sm-4 col-xs-4">
							<div class="lifestage-image">
								<img class="img-responsive" src="https://s3-ap-southeast-1.amazonaws.com/babychakra-data-files/modals/lifestage/expecting-baby.png">
							</div>
							<div>
								<h4 class="text-center lifestage-label">Expecting a Baby</h4>
							</div>
						</div>

						<div class="lifestage-wrapper col-lg-3 col-lg-offset-1 col-md-4 col-sm-4 col-xs-4">
							<div class="lifestage-image">
								<img class="img-responsive" src="https://s3-ap-southeast-1.amazonaws.com/babychakra-data-files/modals/lifestage/trying-to-conceive.png">
							</div>
							<div>
								<h4 class="text-center lifestage-label">Trying to Conceive</h4>
							</div>
						</div>
				</div>
			</div>

	
		</div>
		<!-- End of Main Content -->
		
		<aside>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				
					<!-- Widget -->
		              {{#slotWidgetMapper 'slot_4'}}
		                {{> widgets/widgetGeneric}}
		              {{/slotWidgetMapper }}
	              	<!-- Widget -->
					<!-- Widget -->
		              {{#slotWidgetMapper 'slot_5'}}
		                {{> widgets/widgetGeneric}}
		              {{/slotWidgetMapper }}
	              	<!-- Widget -->
	              	<!-- Widget -->
		              {{#slotWidgetMapper 'slot_6'}}
		                {{> widgets/widgetGeneric}}
		              {{/slotWidgetMapper }}
	              	<!-- Widget -->
					<!-- Widget -->
		              {{#slotWidgetMapper 'slot_7'}}
		                {{> widgets/widgetGeneric}}
		              {{/slotWidgetMapper }}
	              	<!-- Widget -->

			</div>
		</aside>

		
	</div>
</section>
