<div class="card-small col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="card-small-img col-lg-4 col-md-4 col-sm-4 col-xs-5">
		 <img class="img-responsive" src="{{image}}" />	
	</div>
	<div class="card-small-title col-lg-8 col-md-8 col-sm-8 col-xs-7">
		<span>
			{{title}}
		</span>
	</div>
</div>
