<div class="widget col-lg-12 col-xs-12 col-md-12 col-sm-12">
   <div class="row">
      <div class="col-xs-4 col-lg-12 col-md-12 col-sm-12 margin-bottom-5 widget-icon">
         <img class="center-block" src="https://res.cloudinary.com/dooujtlec/image/upload/v1502862865/Icon-Baby-name-Gray_fnb3as.png" />
      </div>
      <div class="col-xs-8 col-lg-12 col-md-12 col-sm-12 widget-info">
         <div class="title"><p>{{primaryHeading}}</p></div>
         <div class="description"><p>{{secondaryHeading}}</p></div>
         <div class="call-to-action">
            <a class="center-block" href="{{target}}">{{buttonText}}</a>
         </div>
      </div>
   </div>
</div>
