<footer id="footer" class="footer"> 
		<!-- social links -->
		<div class="social-links">
			<ul>
				<li class="social-facebook">
					<a title="Facebook" href="https://www.facebook.com/zenparent" rel="nofollow" target="_blank">
						<img src="http://test.zenparent.in/wp-content/themes/multimag-theme/gb-assets/icons/facebook.png" />
					</a>
				</li>
				<li class="social-gplus">
					<a title="Google+" href="https://plus.google.com/107914953197589063402/" rel="nofollow" target="_blank">	
						<img src="http://test.zenparent.in/wp-content/themes/multimag-theme/gb-assets/icons/google-plus-logo.png" />
					</a>
				</li>
				<li class="social-pin">
					<a title="Pinterest" href="https://in.pinterest.com/TheZenParent/" rel="nofollow" target="_blank">
						<img src="http://test.zenparent.in/wp-content/themes/multimag-theme/gb-assets/icons/pinterest.png" />
					</a>
				</li>
				<li class="social-twitter">
					<a title="Twitter" href="https://twitter.com/@TheZenParent" rel="nofollow" target="_blank">
						<img src="http://test.zenparent.in/wp-content/themes/multimag-theme/gb-assets/icons/twitter.png" />
					</a>
				</li>
			</ul>
		</div>
		
		<!-- Infolinks -->
		<div class="info-links margin-bottom-10">
			<ul>
				<li>
					<a rel="nofollow" href="https://zenparent.in/sitemap">SITEMAP</a> 
				</li>
				<li>
					<a rel="nofollow" href="https://zenparent.in/about-us">ABOUT</a> 
				</li>
				<li>
					<a rel="nofollow" href="https://zenparent.in/contact-us">CONTACT US</a>
				</li>
				<li>
					<a rel="nofollow" href="https://zenparent.in/privacy-policy">PRIVACY POLICY</a>
				</li>
			</ul>
		</div>

		<!-- Copyright info  -->
		<span>© 2017 Copyright Zenparent. All Rights reserved.</span>
		
</footer>