.card{
	margin-bottom : 20px;
}

.category-label{
	text-align: center;
	color :black;
	text-transform: uppercase;
}

.category-label > div{
	display: block;
	text-align: center;
	margin-top: -27px;
	font-size: 20px;
}

.category-label > div > span{
	border-top: 2px solid #8675A1;
	font-size: 12px;
	font-weight: bold;
}


.card .overlay{
	display: block;
    position: relative;
    background: white;
    padding: 10px;
    margin: -40px auto 20px;
    color: #080a0b;
    text-align: center;
    border: 1px solid #CCC;
	font-family: "Playfair Display",serif;
    width: 260px;
    font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}


@media screen and (max-width: 600px){
	.card .overlay{
    	width : 80%;
	}
}

@media screen and (min-width: 759px){
	.card .overlay{
		min-height: 95px;
    	width : 88%;
	}
}

@media screen and (min-width: 1280px){
 .card .overlay{
 	font-size:24px;
	line-height:30px;
 }	
}

/*Card small*/
.card-small{
	padding: 0px; 
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D9D9D8;
}

.card-small-img{
	padding-left: 0px;	
}

.card-small-title{
	padding: 0px;	
}

.card-small-title span{
	font-size: 18px;
	line-height: 16px;
	font-weight: bold;
}