.subcategory-menu{
	display: inline-block;
}

.subcategory-menu li{
	display: block;
	margin-bottom: 15px;
	font-size: 18px;
    text-transform: uppercase;
    line-height: normal;
    padding-left: 10px;

}

.subcategory-menu li a{
	color: #023B49;
	font-family:"Open Sans", sans-serif;
}

.list-header{
	color: #fff;
	background: #05B6BD;
	font-size: 19px;
	margin-bottom: 20px;
	padding: 7px 10px 5px;
} 

