#header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	color: #013B49;
    background-color: #fff;
    border-top: 2px solid;
}

.navbar-default{
	border: none;
	background-color: #fff;
	border-radius: none;
	color : black;
}

.navbar{
	margin-bottom: 0px;
}

.nav .menu-item a{
	color: #666;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
    
.nav .brand-logo img{
	height: 50px;
}

.top-menu{
	width: 100%;
	padding: 10px 0px;
}

.top-menu .search,.top-menu .menu{
	margin-top: 10px;
}

.top-menu .search .glyphicon,.top-menu .menu .glyphicon{
	font-size: 24px;
}

li.menu-item{
	float: left;
}

.top-menu .menu-item a {
	color: black;
}

.top-menu .search{
	text-align : right;
}

/* Bottom Menu */
.bottom-menu{
	margin-left: 90px;
}

.bottom-menu .menu-item a{
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	color: #333333;
 
}


/* Hide secondary menu on scroll*/
.header.collapsed .secondary-header{
	display: none;
}


@media screen and (min-width: 767px){
	.primary-header .container{
		margin : 0px 50px; 
	    padding-right: 0px;
	}

}

/*  For phones */
@media screen and (max-width: 599px){

	.bottom-menu{
		display: none;
	}

	.top-menu .menu-item{
		text-align: right;
		padding: 0px;
		margin-top: 0px;
	}

	.top-menu .search,.top-menu .menu{
		padding-top: 8px;
	}

	.nav .brand-logo{
		text-align: center;
	}

	.nav .brand-logo img{
		height: 35px;
		margin: auto; 
	}
	
	.top-menu .search .glyphicon,.top-menu .menu .glyphicon{
		font-size: 16px;
	}

	.nav>.menu-item>a{
		padding-right: 0px;
		padding-left: 0px;
	}

}