* {
  box-sizing: border-box;
}


body {
  margin: 0;
  border: 0;
  font-size: 100%;
  font-family: "Playfair Display",serif;
 }

ul{
  padding-left: 0px;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

section.content{
  padding-top: 130px;
}

@media screen and (max-width: 600px){
  section.content{
   padding-top: 75px;
  }
} 

.zp-primary-background{
  background: #8675A1;  
}

.zp-primary-color{
  color: #8675A1;  
}


.trending-homepage h3{
    overflow: hidden; 
    padding-left: 5px;
    margin: 0px 0px 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.trending-homepage h3:after,.related-posts h4::after{
  content: '';
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 10px;
  height: 100%;
  width: 60%;
  margin-right: -100%;
  border-bottom: 2px solid #8675A1;
}

.trending-icon{
    float: right;
    top: -28px;
    right: 20px;
    font-size: 16px;
    color: indianred;
}


@media screen and (max-width: 600px){
  .trending-homepage h3:after{
    width: 50%;
  }
} 

