.widget{
   margin-bottom: 25px;
   padding : 10px;
   border-radius: 5px;
   border: 1px solid #CCC;
}

.widget .widget-icon img{
   width: 100px;
   height: 100px;
}

.widget .widget-info{
   text-align: center;
   display: block;
   color: #666;
   font-size: 18px;
}

.widget .widget-info .title{
   font-weight: 500;
   text-transform: uppercase;
   line-height: 24px;
}

.widget .widget-info .description{
   margin-bottom: 15px;
}

.widget .widget-info .description p{
   font-size: 16px;
}

.widget .widget-info .call-to-action{
   width: 100%;
   text-align: center;
}

.widget .widget-info .call-to-action a{
   border-radius: 5px;
   background: #666;
   display: block;
   padding: 10px; 
   color : #fff;
   border : 1px solid #666;
}

.widget .widget-info .description p,.widget .widget-info .call-to-action a{
   font-family: "Playfair Display",serif;
}

@media screen and (min-width: 1024px){
   .widget .widget-info .call-to-action a{
      width: 75%;
   }
}

@media screen and (max-width: 414px){
  
   .widget .widget-icon img{
      width: 80px;
      height: 80px;
   }
}
